.Spinner {
  border: 3px solid lightgray;
  border-top: 3px solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.Spinner.small {
  width: 20px;
  height: 20px;
}

.Spinner.medium {
  width: 40px;
  height: 40px;
}

.Spinner.big {
  width: 80px;
  height: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
